# Mac System Files
.DS_Store

# Obsidian Stuff
.obsidian/plugins
.obsidian/themes
.obsidian/*.json
.obsidian/snippets/ITS Alternative Themes.css
.trash #Assuming you ever use the obsidian trash folder